@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.hero {
  margin: 5rem 0;
  /* align-items: center; */
  justify-content: space-between;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
  margin: 1.4rem 0;
  text-align: justify;
}

.text-label {
  color: rgb(44, 44, 247);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.text-hero-bold {
  color: orange;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4rem;
}

.text-hero-regular {
  font-size: 1rem;
  color: gray;
  font-weight: 400;
}

.hero-image {
  height: 25rem;
}

.products .carousel {
  max-width: 100%;
}
